# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ project files
.idea/
*.iml
*.iws
*.ipr
out/

# Android Studio
*.ids
*.element

# Flutter / Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Symbol files
*.sublime-workspace

# VS Code
.vscode/
